.styleTag{
    font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;
}
.styleTag1{
    font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;
}
.styleTag2{
    font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;
}
.styleTag3{
    font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;
}
.styleTag4{
    border-right:1px solid #333;
}
.styleTag5{
    border-bottom:1px solid #333;
}
.styleTag6{
    border-left:1px solid #333;
}